@font-face {
    font-family: "Ortica";
    src: url("font/Ortica-Light.woff") format("woff"),
         url("font/Ortica-Light.woff2") format("woff2");
    font-family: "Apfel Grotezk";
    src: url("font/ApfelGrotezk-Regular.woff") format("woff");
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
nav{
    background: linear-gradient(
        to bottom,
        #f0f0f0 6vh, 
        rgba(240, 240, 240, 0)
     );
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 10vh;
    width: 100vw;
    position: fixed; 
}
.nav_home{
    position: absolute;
    display: block;
    transform: rotate(45deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 1px solid #293566;
    left: 16px;
    right: 16px;

}

nav h3{
    color: #293566;
    font-family: 'Ortica';
    font-weight: lighter;
    justify-self: center;
    margin: 0 16px;
}

header{
    margin-top: 10vh;
    font-family: 'Ortica-Light', Ortica;
    font-weight: lighter;
}
header h1{
    color: #293566;
    font-family: 'Ortica';
    font-weight: bold;
}
.project-description{
    font-family: 'Apfel Grotezk';
}
