@font-face {
    font-family: "Ortica";
    src: url("font/Ortica-Light.woff") format("woff"),
         url("font/Ortica-Light.woff2") format("woff2");
    font-family: "Apfel Grotezk";
    src: url("font/ApfelGrotezk-Regular.woff") format("woff");
  }


body{
    margin: 0;
    overflow: auto;
}
.landing-page{
    height: 100vh;
    overflow: hidden;
    color: rgb(189, 189, 189);
    font-family: 'Apfel Grotezk';
    letter-spacing: 2em;
}
.floatings{
    position: absolute;
    left: 5vw;
    top: 0;
    max-height: 100vh;
    overflow: hidden;
}
.landing-page p{
    font-size: 4vh;
    text-align: justify;
    margin: 0;
}


.about{
    background:rgb(19, 58, 90);
    color: rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 2em;
    font-family: 'Apfel Grotezk'; 
}
   
.about h1{
    top: 0;
    font-family: 'Ortica-Light', Ortica;
    font-weight: lighter;
    font-size: 8vh;
}
.about p{
    font-size: 2vh;
    width: 40vw;
    
    
}
.colophon{
    margin-right: 2vw;
}

