@font-face {
    font-family: "Ortica";
    src: url("../font/Ortica-Light.woff") format("woff"),
         url("../font/Ortica-Light.woff2") format("woff2");
}
@font-face{
    font-family: "Ortica-Bold";
    src:url("../font/Ortica-Bold.woff") format("woff"),
        url("../font/Ortica-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "Apfel Grotezk";
    src: url("../font/ApfelGrotezk-Regular.woff") format("woff");
}
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
nav{
    background: linear-gradient(
        to bottom,
        #f0f0f0 8vh, 
        rgba(240, 240, 240, 0)
     );
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 6px;  
    height: 12vh;
    width: 100vw;
    position: fixed; 
    z-index: 2;
    
}
.nav_home{
    position: absolute;
    display: inline-block;
    top:12px;
    left: 18px;
    
}
.nav_home .button-fill{
    display: none;
    position: absolute;
    left: 0;
    z-index: 10;
}
.nav_home:hover .button-fill{
    display: inline;
}

nav h3{
    color: #293566;
    font-family: 'Ortica';
    font-weight: lighter;
    margin: 0 24px;
    
}
.previous{
    position: relative;
    margin-left: 24px;
}

header{
    margin: 0 auto;
    padding: 15vh 12px;
    max-width: 800px;
    min-height: 70vh;
    font-family: 'Ortica-Light', Ortica;
    font-weight: lighter;
}

header h1{
    margin-top: 4vh;
    color: #293566;
    font-family: 'Ortica';
    font-size: 4.2em;  
}
.previous{
    position: relative;
    margin-left: 24px;
}
.author h3{
    /*border: 1px solid red;*/
    color: #707070; 
    font-family: 'Apfel Grotezk';   
    font-weight: lighter; 
    font-size: 1.8em; 
    line-height: 0.4em;
}
a{text-decoration: none;}
.author a h3:hover{
    color: #293566;
}
.project-description{
    margin: 0 auto;
    padding:12px;
    max-width: 800px;
    color: #383838;
    font-size: 1.2em;
    font-family: 'Apfel Grotezk', sans-serif;
    line-height: 1.3em;
}

.gallery{
    display: flex;
    flex-flow: column;
    max-width: 900px;
    margin: 10vh auto;
    align-content: center;
    align-items: center;
    

}

.gallery img{
    margin: 15vh 0;
    max-height: 85vh;
    max-width: 100vw;
    object-fit: contain;

}
iframe{
    width: 60vw;
    height:80vh;
    margin: 10vh 0;
}

img{
    margin: 0;
    max-width: 20vw;
    object-fit: contain;
}
@media only screen and (max-width: 900px) {
    iframe{
        width: 95vw;
        height:47vh;
        margin: 10vh auto;
    }
}


@media only screen and (max-width: 600px) {
    .quote{
        width: 92vw;
        text-align: right;
        position: unset;
    }
    .gallery{
        
        margin: 10vh 0;
    }
    
    .item-first{
        justify-self: center; 
        margin: 5vh 0;  
        max-width: 100vw;
    }
    .gallery img{
        max-width: 95vw;
        object-fit: contain;
        padding: 3px;
    }
    iframe{
        width: 95vw;
        height:47vh;
        margin: 10vh auto;
    }

}